{{- $name := promptString "Name" -}}
{{- $email := promptString "Email" -}}
{{- $github.user := promptString "Github Username" -}}
[sourceVCS]
    autoCommit = true
    autoPush = true
[data]
    name = "{{ $name }}"
    email = "{{ $email }}"
    github.user = "{{ $github.user }}"

