{{- $name := promptString "Name" -}}
{{- $email := promptString "Email" -}}
{{- $github_user := promptString "Github Username" -}}
{{- $zplug_home := promptString "ZPLUG_HOME directory" -}}
[sourceVCS]
    autoCommit = true
    autoPush = true
[data]
    name = "{{ $name }}"
    email = "{{ $email }}"
    github.user = "{{ $github_user }}"
    zplug.home = "{{ $zplug_home }}"

